body {
  background: skyblue;
}
header {
  text-align: center;
  color: white;
  font-size: 300%;
}
section {
  text-align: center;
  background: white;
  border-radius: 15px;
  box-shadow: 3px 3px 7px black;
  padding: 15px;
  width: 360px;
  margin: auto;
}
#btn {
  background: green;
  border-radius: 20px;
  border: 0px;
  padding: 15px;
}
#btn:hover {
  border: 0px;
  transform: scale(1.1)
}
#btn:focus {
  border: 0px;
  transform: scale(1.1)
}body {
  background: skyblue;
}
header {
  text-align: center;
  color: white;
  font-size: 300%;
}
section {
  text-align: center;
  background: white;
  border-radius: 15px;
  box-shadow: 3px 3px 7px black;
  padding: 15px;
  width: 360px;
  margin: auto;
}
#btn {
  background: green;
  border-radius: 20px;
  border: 0px;
  padding: 15px;
}
#btn:hover {
  border: 0px;
  transform: scale(1.1)
}
#btn:focus {
  border: 0px;
  transform: scale(1.1)
}